- var menu = { 'nodejs': '/api/nodejs', 'ruby': '/api/ruby', 'java': '/api/java', 'python': '/api/python', 'perl': '/api/perl', 'php': '/api/php', 'elixir': '/api/elixir',  'c-sharp': '/api/csharp',  'rest': '/api/rest'};

each val, key in menu
  if pageSelected === key
    li.padding-horizontal-less(class='#{key}' style="padding-top: 1.1rem; padding-bottom: 1rem;display: block; float: left; list-style: none;")
      a.menu-item.active(href=val title=key)= key
  else
    li.padding-horizontal-less(style="padding-top: 1.1rem; padding-bottom: 1rem;display: block; float: left; list-style: none;")
      a.menu-item(href=val title=key)= key
