.bg-gray-api.api-header
  .row(role="navigation")
    .column.small-3
      a(href="/" title="Home").logo
      span.uppercase.margin-left-less.small(style="vertical-align: super;") api reference

    .column.small-9
      ul.margin-bottom-none
        include api-menu.jade
