extends primary

block container
  div(class='#{contentClass}')
    block header
      include ../_includes/api-header
    
    .background-container
      .dark-background
    block content
      .api-nav
        include ../_includes/api-nav
      .api-content  
        block information
          
    block footer
    block mobile-language-picker
      include ../_includes/mobile-language-select
