.api {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: #F8F8F8;
}

.api-nav {
  display: none;
  @media #{$xlarge-up} {
    display: block;
    position: absolute;
    left:0;
    top:62px;
    bottom:0;
    width: 300px;
    background: #FFFFFF;
    border-right: 1px solid #CCCCCC;
  }
}

.api-content {
  position: absolute;
  top:62px;
  bottom:0;
  right: 0;
  left: 0;
  @media #{$xlarge-up} {
    left:300px;
  }
}

.api .row {
  max-width: none;
  border-bottom: 1px solid #CCCCCC;
}

.middle-pane,
.right-pane {
  padding: 2rem;
}

.middle-pane {
  width: 100%;
  background: #F8F8F8;
  float: none;
  @media #{$xlarge-up} {
    float: left;
    width: 50%;
    max-width: 800px;
  }
}

.right-pane {
  width: auto;
  background: #3C3C3C;
  @media #{$xlarge-up} {
    margin-left: 50%;
  }
  @media (min-width: 1900px) {
    margin-left: 800px;
  }
}

.code-content {
  width: 100%;
  max-width: 800px;
}

.background-container {
  display: none;
  @media #{$xlarge-up} {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 300px;
  }
}

.dark-background {
  position: absolute;
  top: 62px;
  right: 0;
  bottom: 0;
  left: 50%;
  background: #3C3C3C;
  @media (min-width: 1900px) {
    left: 800px;
  }
}
