$api-nav-width: 250px;
$content-left-position: $api-nav-width;
$api-pane-max-width: 800px;
$right-huge-screen-left-position: $api-pane-max-width;

.api {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: #F8F8F8;
}

.api-nav {
  display: none;
  @media #{$xlarge-up} {
    display: block;
    /* position: absolute; */
    position: fixed;
    left:0;
    top:62px;
    bottom:0;
    width: $api-nav-width;
    background: #FFFFFF;
    border-right: 1px solid #CCCCCC;
    overflow: scroll;
    padding: 1rem 2rem;
  }
}

.api-header {
  z-index: 10;
}

.api-content {
  position: absolute;
  top:62px;
  bottom:0;
  right: 0;
  left: 0;
  @media #{$xlarge-up} {
    left: $content-left-position;
  }
}

.api .row {
  max-width: none;
  position: relative;
  overflow-x: hidden;
  &.border {
    &:before,
    &:after {
      top: 0;
      display: block;
      height: 1px;
      content: "";
    }
    &:before {
      left: 0;
      position: relative;
      @media #{$xlarge-up} {
        background: #CCCCCC;
        width: 50%;
        max-width: $api-pane-max-width;
      }
    }
    &:after {
      position: relative;
      width: auto;
      right: 0;
      @media #{$xlarge-up} {
        background: #4C525E;
        left: 50%;
      }
      @media (min-width: 1900px) {
        left: $right-huge-screen-left-position;
      }
    }
    &:last-of-type {
      &:after {
        height: 0;
      }
    }
    &:first-of-type {
      &:before {
        height: 0;
      }
    }
  }
}

.middle-pane,
.right-pane {
  padding: 2rem;
}

.middle-pane {
  width: 100%;
  background: #F8F8F8;
  @media #{$xlarge-up} {
    float: left;
    width: 50%;
    max-width: $api-pane-max-width;
  }
}

.right-pane {
  width: auto;
  background: #30353D;
  color: #ABAFB6;
  -webkit-font-smoothing: antialiased;
  @media #{$xlarge-up} {
    margin-left: 50%;
  }
  @media (min-width: 1900px) {
    margin-left: 800px;
  }
}

.code-content {
  width: 100%;
  max-width: $api-pane-max-width;
}

.background-container {
  display: none;
  @media #{$xlarge-up} {
    display: block;
    position: fixed;
    top: 62px;
    right: 0;
    bottom: 0;
    left: $content-left-position;
  }
}

.dark-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  background: #30353D;
  @media (min-width: 1900px) {
    left: $right-huge-screen-left-position;
  }
}

$color-node: #80BD01;
$color-ruby: #CC342D;
$color-java: #5382A1;
$color-python: #43789F;
$color-php: #8892BF;
$color-perl: #004065;
$color-elixir: #4E2F61;
$color-otherlang: #111115;

li {
  &.nodejs {
    background: $color-node;
  }
  &.ruby {
    background: $color-ruby;
  }
  &.java {
    background: $color-java;
  }
  &.python {
    background: $color-python;
  }
  &.php {
    background: $color-php;
  }
  &.perl {
    background: $color-perl;
  }
  &.elixir {
    background: $color-elixir;
  }
  &.c-sharp,
  &.go,
  &.rest {
    background: $color-otherlang;
  }
}

.api-header {
  position: fixed;
  left: 0;
  right: 0;
  &.nodejs {
    box-shadow: inset 0 -3px $color-node;
  }
  &.ruby {
    box-shadow: inset 0 -3px $color-ruby;
  }
  &.java {
    box-shadow: inset 0 -3px $color-java;
  }
  &.python {
    box-shadow: inset 0 -3px $color-python;
  }
  &.php {
    box-shadow: inset 0 -3px $color-php;
  }
  &.php {
    box-shadow: inset 0 -3px $color-php;
  }
  &.perl {
    box-shadow: inset 0 -3px $color-perl;
  }
  &.elixir {
    box-shadow: inset 0 -3px $color-elixir;
  }
  &.c-sharp,
  &.go,
  &.rest {
    box-shadow: inset 0 -3px $color-otherlang;
  }
}

.api pre {
  background: #1E232C;
  box-shadow: inset 0 0 6px darken(#1E232C, 5%);
  padding: 0.8rem 1rem;
}

.btn-github {
  background: #53545C;
  background-image: linear-gradient(-180deg, #606169 0%, #53545C 100%);
  border-radius: 4px;
  padding: 0.5rem 1rem;
  border: none;
  &:hover {
    background: darken(#53545C, 5%);
    background-image: linear-gradient(-180deg, #53545C 0%, #44454B 100%);
  }
  &:before {
    content: "";
    background: url('/images/github.svg') no-repeat center;
    margin-right: 10px;
    padding: 10px;
  }
}
