extends ../_layouts/api

block title
  title API Reference | BitPay
  
append vars
  -var contentClass = 'white-header';
  -var bodyClass = 'api';

block information
  .row.border
    .middle-pane
      h3 testing
      p.lead Technology is changing one of the most fundamental mediums that touch every person on the planet: money. Bitcoin’s rise showed us how much demand there is for a globally accepted digital currency. However, all the things holding bitcoin back  --  merchant 
    .right-pane
      .code-content
        p.lead.white test content 1
  .row.border
    .middle-pane
      h3 panel2
    .right-pane
      .code-content
        pre 
          | Technology is changing one of the most fundamental 
          | mediums that touch every person on the planet: money. 
          | Bitcoin’s rise showed us how much demand there is 
          | for a globally accepted digital currency. However, 
          | all the things holding bitcoin back  --  merchant
  .row.border
    .middle-pane
      h3 panel3
    .right-pane
      .code-content
        p.lead.white test content 3
