extends ../_layouts/api

block title
  title API Reference | BitPay
  
append vars
  -var contentClass = 'white-header';
  -var bodyClass = 'api';

block information
  .row.border
    .middle-pane
      h3 Clients &amp; Libraries
      p BitPay maintains open-source clients and libraries for many popular languages. These packages include our cryptographically secure API which uses #[a(href="https://github.com/bitpay/bitauth") BitAuth], our authentication protocol.
      p Pick your desired language to get started with the API Reference:
    .right-pane
      .code-content
        pre Pick your language to get started... 
  .row.border
    .middle-pane
      h3 REST API
      p If we don't have a library for your language, fear not! You can use our REST API in order to write a custom solution for your needs.

      p Check out the #[a(href="/api/rest") REST API Documentation].
    .right-pane
      .code-content
        pre Technology is changing one of the most fundamental 
          | mediums that touch every person on the planet: money. 
          | Bitcoin’s rise showed us how much demand there is 
          | for a globally accepted digital currency. However, 
          | all the things holding bitcoin back  --  merchant
