extends ../_layouts/api

block title
  title Java Reference | BitPay
  
append vars
  -var contentClass = 'white-header';
  -var bodyClass = 'api';
  -var pageSelected = 'java'

block information
  .row.border
    .middle-pane
      h3 Java Reference
      p asdfasdf
    .right-pane
      +right-pane-header('java', 'v2.0.2', 'https://github.com/bitpay/java-bitpay-client')
