extends ../_layouts/api

block title
  title Python Reference | BitPay
  
append vars
  -var contentClass = 'white-header';
  -var bodyClass = 'api';
  -var pageSelected = 'python'

block information
  .row.border
    .middle-pane
      h3 Python Reference
      p Technology is changing one of the most fundamental mediums that touch every person on the planet: money. Bitcoin’s rise showed us how much demand there is for a globally accepted digital currency. However, all the things holding bitcoin back  --  merchant
    .right-pane
      +right-pane-header('python', 'v2.3.3', 'https://github.com/bitpay/bitpay-python')
