extends ../_layouts/api

block title
  title Ruby Reference | BitPay
  
append vars
  -var contentClass = 'white-header';
  -var bodyClass = 'api';
  -var pageSelected = 'ruby'  

block information
  .row.border
    .middle-pane
      h3 Ruby Reference
      p Technology is changing one of the most fundamental mediums that touch every person on the planet: money. Bitcoin’s rise showed us how much demand there is for a globally accepted digital currency. However, all the things holding bitcoin back  --  merchant
    .right-pane
      .code-content
        .h2.background-contain.margin-bottom-less(style="background-image: url(/images/integrations/ruby-full.png);width:4em;height:1em;")
        .row
          .column.small-8.large-6
            p.margin-bottom-none Recommended Version
          .column.small-4.large-6
            p.margin-bottom-none v2.4.4
        .row
          .column.small-8.large-6
            p Build
          .column.small-4.large-6
            p Passing
        .row
          .column
            a(href="https://github.com/bitpay/ruby-client" target="_blank").btn.btn-github.white View on GitHub
  
  .row.border
    .middle-pane
      h4 Installation
      p You can install BitPay easily by running this command. 
    .right-pane
      .code-content
        pre $ gem install bitpay-sdk
